$Primary: #0e0e0e;
$FontColor: #b8b6b6;
$FontHover: #de8721;

@mixin flex($justify: space-around, $display: flex, $direction: row) {
  justify-content: $justify;
  display: $display;
  flex-direction: $direction;
}

.Header-mainDiv {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1999;
  box-shadow: var(--HeaderBoxShadow);
  background-color: var(--HeaderColor);
  .Header-insideDiv {
    @include flex();
    justify-content: space-around;
    padding: 0px 30px;

    @media only screen and (max-width: 1200px) {
      padding-left: 40px;
      justify-content: space-between;
    }
    @media only screen and (max-width: 1050px) {
      justify-content: space-between;
    }
    @media only screen and (max-width: 956px) {
      justify-content: space-between;
    }
    @media only screen and (max-width: 920px) {
      justify-content: space-around;
      padding-left: 20px;
    }
    @media only screen and (max-width: 650px) {
      justify-content: space-between;
      padding: 0px 30px;
    }

    .left-div {
      display: flex;
      height: 100px;
      align-items: center;
      gap: 10px;
      @media only screen and (max-width: 956px) {
        padding-left: 20px;
      }
      @media only screen and (max-width: 660px) {
        padding-left: 0px;
      }
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        @media only screen and (max-width: 956px) {
          width: 70px;
          height: 70px;
        }
      }
      h2 {
        color: white;
        text-shadow: var(--FontTextShadow);
        @media only screen and (max-width: 956px) {
          font-size: 20px;
        }
        @media only screen and (max-width: 780px) {
          display: none;
        }

        span {
          font-family: "Marcellus SC", serif;
          color: var(--AnonymousFontColor);
          text-shadow: var(--FontTextShadow);
          @media only screen and (max-width: 956px) {
            font-size: 20px;
          }
        }
      }
    }
  }
  .mid-div {
    @include flex();
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 40%;
    @media only screen and (max-width: 1050px) {
      padding-left: 40px;
    }
    @media only screen and (max-width: 650px) {
      width: 60%;
      height: 100px;
      padding-left: 0px;
      display: flex;

      overflow-x: auto;
      justify-content: space-between;
      box-shadow: var(--InsideBoxShadows);
      &::-webkit-scrollbar {
        height: 10px;
        width: 100%;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--WebkitColorScroll);
      }

      &::-webkit-scrollbar-thumb:hover {
        box-shadow: var(--InsideBoxShadows);
      }
    }
    @media only screen and (max-width: 440px) {
      width: 40%;
    }
    .div-nav {
      width: 100%;
      height: 100%;
      nav {
        width: 100%;
        height: 100%;

        ul {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 25px;
          @media only screen and (max-width: 1040px) {
            gap: 10px;
          }
          @media only screen and (max-width: 650px) {
            gap: 20px;
            padding: 0px 15px;
          }

          li {
            -webkit-transition: all 0.8s ease;
            padding: 0px 10px;
            list-style: none;
            border-right: 2px solid rgb(255, 255, 255);
            border-left: 2px solid rgb(255, 255, 255);

            &:hover {
              transform: scale(1.1);
              height: 25px;
              color: $FontHover;
            }
            a {
              -webkit-transition: all 0.5s ease;
              text-decoration: none;
              font-size: 22px;
              font-family: "Marcellus SC", serif;
              color: #b8b6b6;
              text-shadow: var(--FontTextShadow);
              white-space: nowrap;
              @media only screen and (max-width: 1100px) {
                font-size: 20px;
              }
              @media only screen and (max-width: 440px) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .right-div {
    position: relative;
    display: flex;
    align-items: center;
    width: 15%;
    height: 100px;

    @media only screen and (max-width: 1300px) {
      padding-right: 50px;
    }
    @media only screen and (max-width: 1200px) {
      padding-right: 80px;
      justify-content: space-evenly;
    }
    @media only screen and (max-width: 1150px) {
      padding-right: 100px;
    }
    @media only screen and (max-width: 1080px) {
      padding-right: 120px;
    }
    @media only screen and (max-width: 1000px) {
      padding-right: 120px;
    }
    @media only screen and (max-width: 920px) {
      width: 10%;
    }
    @media only screen and (max-width: 850px) {
      width: 5%;
    }
    @media only screen and (max-width: 650px) {
      padding: 0;
    }
    @media only screen and (max-width: 550px) {
      width: 12%;
    }
    .Opened-div {
      display: flex;
      align-items: center;
      position: relative;
      right: 0px;
      height: 50px;
      gap: 10px;
      border-radius: 10px;
      padding: 5px 5px;
      background-color: #1f1717;
      box-shadow: var(--InsideBoxShadows);
      @media only screen and (max-width: 1400px) {
        right: 20px;
      }
      @media only screen and (max-width: 1200px) {
        right: 0px;
        margin-left: 50px;
      }
      @media only screen and (max-width: 1150px) {
        margin-left: 80px;
      }
      @media only screen and (max-width: 1080px) {
        margin-left: 130px;
      }
      @media only screen and (max-width: 1050px) {
        transform: rotate(270deg);
        margin-top: 200px;
        margin-left: 165px;
      }
      @media only screen and (max-width: 920px) {
        margin-left: 190px;
      }
      @media only screen and (max-width: 850px) {
        margin-left: 210px;
      }
      @media only screen and (max-width: 780px) {
        margin-left: 210px;
      }
      @media only screen and (max-width: 650px) {
        margin-left: 0px;
        margin-right: 0px;
      }
      .Button-Absolute {
        margin: 0 auto;
        width: 25px;
        background-color: #181818;
        height: 25px;
        border-radius: 50%;
        border: 2px solid rgb(28, 28, 28);
        box-shadow: 0px 0px 5px 1px black;
      }
      .Opened-red {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: rgb(228, 223, 223);
        background-color: rgb(200, 1, 1);

        &:active {
          box-shadow: 0px 0px 15px 2px rgb(144, 3, 3);
        }
      }
      .Opened-blue {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(21, 18, 175);
        color: rgb(228, 223, 223);
        &:active {
          box-shadow: 0px 0px 15px 2px rgb(3, 8, 144);
        }
      }
      .Opened-green {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(8, 110, 18);
        color: rgb(228, 223, 223);
        &:active {
          box-shadow: 0px 0px 15px 2px rgb(5, 144, 2);
        }
      }
      .Button-to-close {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin: 0 auto;
        cursor: pointer;
        background-color: var(--ButtonClose-Open);
        box-shadow: var(--InsideBoxShadows);
      }
    }
    .Button-to-open {
      display: flex;
      position: absolute;
      right: 10px;
      width: 50px;
      height: 50px;
      padding-left: 14px;
      border-radius: 50%;
      border: 0;
      cursor: pointer;
      background-color: var(--ButtonClose-Open);
      box-shadow: var(--InsideBoxShadows);
      @media only screen and (max-width: 1050px) {
        transform: rotate(180deg);
        right: 80px;
      }
      @media only screen and (max-width: 1000px) {
        right: 70px;
      }
      @media only screen and (max-width: 920px) {
        right: 50px;
      }

      @media only screen and (max-width: 850px) {
        right: 0px;
      }

      &:focus {
        transform: scale(1.2);
      }
    }
    .Arrow-icon-forward {
      width: 30px;
      height: 30px;
      margin: auto;
      color: rgb(29, 27, 27);
      @media only screen and (max-width: 1050px) {
        width: 30px;
        height: 30px;
      }
    }
    .Arrow-icon-back {
      width: 30px;
      height: 30px;
      margin: auto;
      color: rgb(29, 27, 27);
      @media only screen and (max-width: 1050px) {
        position: absolute;
        left: 18%;
        width: 30px;
        height: 30px;
        transform: rotate(270deg);
      }
    }
  }
}
