.Mid-content-2 {
  position: relative;
  margin-top: 150px;
  height: 700px;

  .Mid-inside-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    box-shadow: var(--BoxShadowsOnSections);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: var(--BGImageMidContent2);
    }
    .div-aboutMe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: rgba(14, 11, 11, 0.5);
    }
    .div-introduction {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 40px;
      text-shadow: 0px 0px 4px;
      color: var(--FontColor);
      h1 {
        font-size: 50px;
        margin: 0;
      }
      h2 {
        margin: 0;
      }
      p {
        font-size: 23px;
        text-align: left;
        margin-left: 40px;
      }
    }
    .div-address {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: left;
      width: 100%;
      height: 300px;
      text-shadow: 0px 0px 4px;
      color: var(--FontColor);
      .div-ul {
        display: flex;
        height: 100%;
        margin-left: 40px;
        li {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgb(58, 33, 33);
        }
      }
      .animation-logos {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        .container-fb {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-image: url(./images/fb-logo-black.jpg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          box-shadow: var(--InsideBoxShadows);
          &:hover {
            box-shadow: var(--HoverBoxShadowsLight);
          }
        }
        .container-insta {
          width: 50px;
          height: 50px;

          border-radius: 10px;
          background-image: url(./images/insta-logo-black.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: var(--InsideBoxShadows);
          &:hover {
            box-shadow: var(--HoverBoxShadowsLight);
          }
        }
        .container-wp {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-image: url(./images/images.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: var(--InsideBoxShadows);
          &:hover {
            box-shadow: var(--HoverBoxShadowsLight);
          }
        }
      }
    }
  }
}
