%Dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}
%PercentageDiv {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgb(84, 82, 82);
}
%DotDiv {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
%ColumnDivs {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Mid-Content {
  position: relative;
  width: 100%;
  height: 1000px;
  margin-top: 150px;
  box-shadow: var(--BoxShadowsOnSections);
  @extend %Dflex;

  .title {
    position: absolute;
    top: 30px;
    width: 300px;
    text-align: center;
    font-size: 60px;
    margin: 0;
    border-top: var(--BorderColors);
    border-bottom: var(--BorderColors);
    color: var(--SkillTitlesColor);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    background-image: var(--GradientBGC);
  }

  .Mid-inside-div {
    position: absolute;
    top: 150px;
    width: 90%;
    height: 470px;
    display: flex;
    gap: 20px;
    // border-bottom: var(--BorderColors);
    .Left-div,
    .Right-div {
      position: relative;
      border: 2px solid black;
      border-radius: 5px;
      width: 50%;
      height: 420px;
      color: white;
      display: flex;
      flex-direction: column;
      background-color: rgba(29, 22, 22, 0.6);
      box-shadow: 0px 0px 6px 2px rgb(110, 110, 110);

      .column-divs {
        @extend %ColumnDivs;
        .left-icons {
          @extend %Dflex;
          position: relative;
          width: 100%;
          height: 80px;
          .titles-left {
            position: absolute;
            left: 100px;
            font-size: 30px;
            height: 30px;
            width: 120px;
            margin-top: 30px;
            text-align: left;
            color: var(--SkillTitlesColor);
          }
          .icon-div-left {
            position: absolute;
            left: 20px;
            top: 20px;
            border-radius: 50%;
            border: 3px solid black;
            box-shadow: var(--SkillsIconsShadowBox);
            @extend %Dflex;
            .left-icon {
              width: 50px;
              height: 50px;
            }
          }
        }
        .Line-div-left {
          @extend %Dflex;
          position: relative;
          top: 10px;
          right: 40px;
          height: 5px;
          width: 80%;
          background-color: rgb(15, 15, 15);
          box-shadow: 0px 0px 5px 1px rgb(89, 42, 4);
          .for-percentage-div {
            @extend %Dflex;
            overflow: hidden;
            height: 50px;
            .Line-left-div {
              @extend %Dflex;
              position: absolute;
              left: 0;
              height: 5px;
              background-color: var(--SkillsLineColor);
              .Percentage-div {
                @extend %PercentageDiv;
                @extend %Dflex;
                background-color: var(--SkillsLinePercentage);
                .Dot-div {
                  @extend %DotDiv;
                }
              }
            }
          }
        }
      }

      .column-divs {
        @extend %ColumnDivs;
        .right-icons {
          @extend %Dflex;
          position: relative;
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
          border-radius: 50%;
          height: 80px;
          .titles-right {
            position: absolute;
            right: 100px;
            display: inline-block;
            font-size: 30px;
            text-align: right;
            height: 30px;
            width: 120px;
            margin-top: 30px;
            color: var(--SkillTitlesColor);
          }
          .icon-div-right {
            @extend %Dflex;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid black;
            box-shadow: var(--SkillsIconsShadowBox);
            .right-icon {
              width: 50px;
              height: 50px;
            }
          }
        }
        .Line-div-right {
          @extend %Dflex;
          position: relative;
          height: 5px;
          width: 80%;
          top: 10px;
          left: 40px;
          background-color: rgb(15, 15, 15);
          box-shadow: 0px 0px 5px 1px rgb(89, 42, 4);
          .for-percentage-div {
            @extend %Dflex;
            height: 50px;
            .Line-right-div {
              @extend %Dflex;
              background-color: var(--SkillsLineColor);
              position: absolute;
              right: 0;
              height: 5px;
              .Percentage-div {
                @extend %PercentageDiv;
                @extend %Dflex;
                background-color: var(--SkillsLinePercentage);
                .Dot-div {
                  @extend %DotDiv;
                }
              }
            }
          }
        }
      }
    }
  }
}

$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);
$color-react: hwb(180 20% 0%);
$porcent-react: 52;
@function strokeDashoffset($num) {
  @return 440 - (440 * $num) / 100;
}

.For-ProgressBars {
  height: 350px;
}

.container {
  position: relative;
  margin-top: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 300px;
  // box-shadow: var(--InsideBoxShadows);
  background-color: var(--GradientBGC);
}

.for-progressBar {
  display: flex;
  justify-content: space-around;
}

.progressbar-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-shadow: var(--FontTextShadow);
  .Name-first,
  .Name-second,
  .Name-third {
    color: aliceblue;
    font-size: 25px;
    font-weight: 700;
    text-shadow: var(--FontTextShadow);
  }
}

.progressbar {
  position: relative;
  width: 220px;
  height: 200px;
  margin: 20px 20px;
  transform: rotate(-90deg);
  border-radius: 10px;
}

.progressbar__svg {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle1 {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 15;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  transform: translate(50px, 20px); // stroke-width / 2
  stroke: var(--SkillsLinePercentage);
}
.progressbar__svg-circle2 {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 15;
  stroke-dasharray: 500;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  transform: translate(50px, 20px); // stroke-width / 2

  stroke: var(--SkillsLinePercentage);
}
.progressbar__svg-circle3 {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 15;
  stroke-dasharray: 560;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  transform: translate(50px, 20px); // stroke-width / 2
  stroke: var(--SkillsLinePercentage);
}

.shadow {
  &-react {
    filter: var( --ProgressbarCircleBoxShadow);
  }
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  font-family: "Marcellus", sans-serif;
  font-size: 24px;
  border-radius: 0.25em;
  color: hsl(0, 0%, 100%);
  transform: translate(-25%, -50%) rotate(90deg);
}

@keyframes anim_circle-react {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-react);
  }
}
