.Footer-Main {
  width: 100%;
  margin-top: 100px;
  background-color: rgb(24, 23, 23);
  height: 120px;
  opacity: 0.9;
  box-shadow: var(--BoxShadowsOnSections);
  background-image: var(--GradientBGC);
  .align-items {
    margin: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 680px) {
      justify-content: space-around;
    }
    @media only screen and (max-width: 450px) {
      margin: 30px 0px;
    }
    @media only screen and (max-width: 400px) {
     width: 95%;
    }
    .Terms-div {
      ul {
        display: flex;
        gap: 15px;
        @media only screen and (max-width: 1200px) {
          padding: 0;
          gap: 10px;
        }
        @media only screen and (max-width: 1045px) {
          align-items: center;
        }
        @media only screen and (max-width: 510px) {
          justify-content: center;
          gap: 0px;
        }
        .wall-li {
          background-color: grey;
          height: 25px;
          width: 1px;
          @media only screen and (max-width: 1045px) {
            height: 50px;
            align-items: center;
          }
          @media only screen and (max-width: 680px) {
            height: 30px;
          }
          @media only screen and (max-width: 510px) {
            height: 30px;
          }
        }
        li {
          list-style: none;
          @media only screen and (max-width: 1045px) {
            width: 100%;
          }
          @media only screen and (max-width: 510px) {
            text-align: center;
          }
          a {
            text-decoration: none;
            color: rgb(172, 172, 172);
            font-size: 20px;
            text-shadow: var(--FontTextShadow);
            @media only screen and (max-width: 1200px) {
              font-size: 18px;
            }
            @media only screen and (max-width: 680px) {
              white-space: nowrap;
            }
            @media only screen and (max-width: 510px) {
              white-space: unset;
              text-align: center;
            }
            @media only screen and (max-width: 450px) {
              font-size: 16px;
            }
          }
        }
      }
    }
    .MadeBy-div {
      color: rgb(172, 172, 172);
      font-size: 20px;
      margin: auto;
      text-shadow: var(--FontTextShadow);
      @media only screen and (max-width: 1300px) {
        margin: 30px 10px;
      }
      @media only screen and (max-width: 1200px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 680px) {
        display: none;
      }
    }
    .GoUp-div {
      margin: 30px auto;
      button {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 40%;
        padding-right: 10px;
        background-color: var(--FooterButtonColor);
        box-shadow: var(--InsideBoxShadows);
        @media only screen and (max-width: 450px) {
          width: 48px;
          height: 48px;
        }
        .iconUp {
          width: 40px;
          height: 40px;
          position: absolute;
          left: 3px;
          top: 2px;
          @media only screen and (max-width: 450px) {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
  }
}
