@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

body {
  max-width: 1920px;
  padding: 0;
  margin: 0;
  font-family: "Marcellus", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    height: 100%;
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 40px;
    height: 100%;
    background-color: black;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(
      to bottom,
      rgb(76, 0, 0),
      rgb(0, 0, 65),
      rgb(0, 70, 0)
    );
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: 0px 0px 10px 4px rgb(117, 117, 117);
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 10px 4px rgb(117, 117, 117);
  }
  &::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
    line-height: 140px;
    color: var(--RememberBeNice);
  }
}
